<div class="page">
    <div class="container">
        <h1>Initial Page</h1>
        <form class="form-inline">
            <div class="row justify-content-center mb-4">
                <div class="form-group col-4">
                    <label for="flightNo">Flight no <span>*</span></label>
                    <input type="text" class="form-control" id="flightNo" required>
                </div>
                <div class="form-group col-8">
                    <label for="formFile">CSV file <span>*</span></label>
                    <input class="form-control" type="file" id="formFile" accept=".csv" required>
                </div>
            </div>
            
            <div class="row justify-content-end">
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>